<nav>
  <ul class="nav-list">
   {{#if userId}}
    {{!-- <h4>Привет, {{name}}!</h4> --}}
    <li class="nav-item"><a class="nav-item-link" href="/">Главная</a></li>
    <li class="nav-item"><a class="nav-item-link" href="/favorites">Избранное</a></li>
    <li class="nav-item"><a class="nav-item-link" href="/cart">Корзина</a></li>
    <li class="nav-item"><a class="nav-item-link" href="/logout">Выйти</a></li>

    {{else}}
    <li class="nav-item"><a class="nav-item-link" href="/">Главная</a></li>
    <li class="nav-item"><a class="nav-item-link" href="/login">Войти</a></li>
    <li class="nav-item"><a class="nav-item-link" href="/registration">Зарегистрироваться</a></li>
    {{/if}}
  </ul>
</nav>
