<script defer src ="/js/cart.js"></script>
<div class="box-favorites"> 
  {{#each cartSocks}}
    <div class="container-favorit">
        <div class="favoritColor" style="background-color: {{this.color}};">
          <div class="favoritPatter" style="background: url('../img/patterns/{{this.pattern}}.png');">
            <div class="container-sock"></div>
          </div>
       </div>
         <button class="copy-btn" data-text="http://localhost:4000/favorites/socks?soksId={{this.id}}">купить</button>
   </div>
  {{/each}}
</div>

