<script defer src="/js/cart.js"></script>
<div class="box-favorites">
  {{#each cartSocks}}
    <div class="gmd-1 container-favorit">
        <div class="favoritColor" style="background-color: {{this.color}};">
          <div class="favoritPatter" style="background: {{this.pattern}};">
            <div class="container-sock"></div>
          </div>
       </div>
         <button class="copy-btn" data-id="{{this.id}}">купить</button>
   </div>
  {{/each}}
</div>

<div class="order">
  <div>
    <h3>Ваш заказ</h3>
  </div>
  <div>Товары:</div>
  <div>Кастомные носки по собственному дизайну </div>
</div>
