<script defer src ="/js/copySocks.js"></script>
<div class="box-favorites"> 
    <div class="container-favorit">
        <div class="favoritColor" style="background-color: {{this.color}};">
          <div class="favoritPatter" style="background: url('../img/patterns/{{this.pattern}}.png');">
            <div class="container-sock"></div>
          </div>
       </div>
         <button class="copy-btn">Купить</button>
   </div>
</div>
