<div class="box-favorites"> 
  <h3>как тебе носочек</h3>
<div class="box-favorites"> 
    <div class="container-favorit">
        <div class="favoritColor" style="background-color: {{this.color}};">тут цвет
          <div class="favoritPatter" style="background: url('../../public/img/{{this.pattern}}.png');">тут узор
            <div class="container-sock" style="background: url('../../public/img/sock.png');">тут лекало</div>
          </div>
       </div>
         <button class="copy">купить</button>
   </div>
</div>
