<script src ="/js/clipboard.min.js"></script>
<script src ="/js/favorites.js"></script>
<div>
  {{#each favoritesSocks}}

<div>color</div>
<div>pattern</div>

<button class="btn" data-clipboard-text="/favorites/socks?soksId=${{this.id}}">Copy to clipboard</button>

  {{/each}}
</div>
