<script defer src ="/js/clipboard.min.js"></script>
<script defer src ="/js/favorites.js"></script>
<div class="box-favorites"> 
  {{#each favoritesSocks}}
<div class="card">
<div><h3>{{this.color}}</h3></div>
<div><h3>{{this.pattern}}</h3></div>
{{!-- <button class="copy-btn">Copy link</button> --}}
<button class="copy-btn" data-text="/favorites/socks?soksId={{this.id}}">Copy link</button>
</div>
  
  {{/each}}
</div>



 
    



