<form name="formGenerator" method="POST" action="/generator">
    <label for="color">Цвет</label>
    <input name="colorName" type="text" id="color" data-color="" >
    <label for="pattern">Узор</label>
    <input name="patternName" type="text" id="pattern">

    <button class="favoritesBtn" type="button" data-namebtn="isFavorite">Избранное</button>
    <button class="cartBtn" type="button" data-namebtn="inCart" >Купить</button>
</form>
