<h1>Войти в личный кабинет</h1>
<form class="loginFormCl" name="loginForm" method="POST" action="/login">

  <label for="email">Email: </label>
  <input type="email" name="email" id="email" required />

  <label for="password">Пароль: </label>
  <input type="password" name="password" id="password" required />

  <button type="submit">Войти</button>

</form>
